<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BookJourneyMobileSuite" verbose="1">
    <test name="BookJourneyTest">
        <classes>
            <class name="BookJourneyTestAndroidHeadSpinCloud"/>
            <class name="BookJourneyTestAndroidEmulator"/>
        </classes>
    </test>
</suite>
